.pagination{
    display:flex;
    flex-wrap: wrap;
  justify-content: center;
  }

.number{
    width: 30px;
    height: 30px;
    background: rgb(222, 221, 224);
    margin: 4px;
    list-style: none;
    padding: 4px;
    border-radius: 15%;
    justify-content: center;
  align-items: center;
  display: flex;
    font-family: Arial, sans-serif; /* change the font */
  font-size: 18px; /* adjust the font size */
  color: #333; /* change the font color */
  border: 3px solid #ccc; /* add a border */
  }

  .number a {
    margin: 0 4px;
  }

.number:hover{
    cursor:pointer;
}


@media screen and (min-width: 768px) {
  .pagination {
    justify-content: column;
  }

}